Spark SQL
---

Let's dicovery EU lobbying.

In [16]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Lobbying in EU") \
    .getOrCreate()
    
df = spark.read.json("ds/person.json")
df.show()

+-----+-----+--------------------+------+--------+--------------------+
|count|limit|                next|offset|previous|             results|
+-----+-----+--------------------+------+--------+--------------------+
|36713|   50|http://api.lobbyf...|     0|   false|[[2015-12-05T00:5...|
+-----+-----+--------------------+------+--------+--------------------+

In [17]:
sqlDF.printSchema()

root
 |-- results: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- created_at: string (nullable = true)
 |    |    |-- entity: string (nullable = true)
 |    |    |-- first_name: string (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- last_name: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- position: string (nullable = true)
 |    |    |-- status: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- updated_at: string (nullable = true)
 |    |    |-- uri: string (nullable = true)

In [18]:
df.createOrReplaceTempView("person_lob")

sqlDF = spark.sql("SELECT * FROM person_lob")
sqlDF.show()

+-----+-----+--------------------+------+--------+--------------------+
|count|limit|                next|offset|previous|             results|
+-----+-----+--------------------+------+--------+--------------------+
|36713|   50|http://api.lobbyf...|     0|   false|[[2015-12-05T00:5...|
+-----+-----+--------------------+------+--------+--------------------+

Nested element
---

In [19]:
result = df.select("results")
result.printSchema()

root
 |-- results: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- created_at: string (nullable = true)
 |    |    |-- entity: string (nullable = true)
 |    |    |-- first_name: string (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- last_name: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- position: string (nullable = true)
 |    |    |-- status: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- updated_at: string (nullable = true)
 |    |    |-- uri: string (nullable = true)

In [23]:
appName = result.select("results.name", "results.last_name")
# appName.registerTempTable("person")
appName.printSchema();
appName.show();

root
 |-- name: array (nullable = true)
 |    |-- element: string (containsNull = true)

+--------------------+
|                name|
+--------------------+
|[Lasse Hamilton H...|
+--------------------+